.setting{
    margin: 0 2% 0 23%;
}



.update-setting{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 5% 0 1%;
    height: 40px;
    border: 1px solid  #525ffd ;
    border-radius: 10px;
    background-color: #525ffd;
    color: white;
    font-weight: bold;
}
.img-setting{
    display: flex;
    flex-wrap: wrap;
    width: 40px;
}
.updt-setting{
    width: 50px;
    border: none;
    margin: 10px 0 0 20px ;
    color: #525ffd;
}


.setting-img{
    width: 50px;
}
.setting-input{
    margin: -40px 0 0 0;
    opacity: 0;

}

.upload{
    display: flex;
    margin:40px 0px 60px 70px ;
}
.delete-acct{
      margin: 20px  0 0 10px;
}
.del{
    margin: 20px  0 0 20px;
}
.delete{
    margin: 10px  0 0 20px;
    border: none;
    color: red;
    font-weight: bold;
}
.general-notify{
    margin: 10px 0 30px 0 ;
}

.noti{
    height: 40px;
    background-color: lightgray;
    border: none;
    padding: 0 0 0 5px;
    margin: 5px 0 5px 0 ;
    border-radius: 4px;
    display: flex;
    align-items: center;
    font-size: large;
}
.read-all{
    color: #525ffd;
    border: none;
    background-color: lightgray;
    margin: 5% 0 0 0;
    font-weight: bold;
    font-size: 25px;
}
.btn-ctr{
   
    display: flex;
    justify-content: center;
}

.fwd{
    
    width: 30px;
    height: 30px;
       width: 50px;
    height: 30px;
    margin:  10px 0 0 10px;
   
}
 .fwd path{
    fill: gray;
}



@media screen and (max-width:900px) {
   .home{
    margin-left: 0;
    margin-right:0%;
    position:-ms-page;
   
   
} 

.update-setting{
    margin: 20px 0 0 0;
}

.setting{
    margin: 0 20px 0 15px;
}
}


@media screen and (max-width:500px) {
   .home{
    margin-left: 0;
    margin-right:0%;
    position:-ms-page;
    
    
} 

.setting{
    height: 115vh;
    
}

.frit{
    font-size: 1.4em;
}
.setting .req{
    margin: 0;
    height: 40px;
}
.upload{
    display: flex;
    height: 40px;
    margin:0px 0px 0px 70px ;
}

.setting-img{
    width: 40px;
}

}