#cut {
  background-color: #ded9eb;
  margin: 0;
  max-height: 100%;
  width: 40%;
  padding: 0px 0px 100% 0px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
}
#cut .logo {
  margin: 50px 0 0 60px;
}



.frame img{
     margin: 200px 0% 0% 20%;
}

#right-in {

  max-width: 60%;
  margin: 2% 0% 0 40%;
  height: 100%;
  padding: 0px 0px 100% 0px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
}

#right-in .all {
  margin-left: 160px;
  margin-right: 160px;
}

#right-in .login {
  padding: 4px 0 0 35%;
  font-size: 20px;
  margin: 20px 0 0 0;
}

span {
  color: blue;
}

#right-in .welc h2 {
  padding: 0 0 0px 0px;
  margin: 20px 0 0 0;
}

#right-in .welc p {
  font-weight: bold;
  padding: 0 0 25px 0px;
  margin: 10px  0 0 0;
}
.form{
  margin: 5% 0 0 0;
}

#right-in .form label {
  font-size: large;
}

#right-in .form form {
  width: 100%;
  display: flex;
  flex-direction: column;
}
#right-in .form input {
  height: 35px;
  border: 2px solid black;
  border-radius: 12px;
  width: 100%;
  padding: 0 0 0 10px;
}

#right-in .form button {
  background-color: #525ffd;
  font-size: larger;
  text-align: center;
  height: 35px;
  width: 100%;
  margin: 10px 0 3px 0;
  border-radius: 12px;
 
}
